@font-face {
    font-family: 'VAGRoundCyrillic';
    src: url('../fonts/VAGRoundedCyrillic.ttf') format('truetype');
}

@font-face {
    font-family: 'VAGRoundRegular';
    src: url('../fonts/VAGRoundedRegular.ttf') format('truetype');
} 

@font-face {
    font-family: 'VAGRoundedNext';
    src: url('../fonts/VAGRoundedNext.ttf') format('truetype');
}

@font-face {
    font-family: 'VAGRoundedLightTest';
    src: url('../fonts/VAGRoundedLightTest.ttf') format('truetype');
}

.bg-section {
    &.primary {
        background-color: var(--bg-primary);
    }
    &.secondary {
        background-color: var(--bg-secondary);
    }
}

.heading {
    font-family: 'VAGRoundCyrillic';
    font-weight: 400;
    color: var(--color-primary-purple);

    &.h1 {
        font-size: 60px;
        line-height: 60px;

        @media (width < 500px) {
            font-size: 36px;
            line-height: 36px;
        }
    }
    &.h2 {
        font-size: 50px;
        line-height: 50px;

        @media (width < 500px) {
            font-size: 26px;
            line-height: 26px;
        }
    }
    &.h3 {
        font-size: 40px;
        line-height: 28px;

        @media (width < 500px) {
            font-size: 22px;
        }
    }
    &.h4 {
        font-size: 38px;
        line-height: 52px;

        @media (width < 500px) {
            font-size: 21px;
            line-height: 28px;
        }
    }
    &.h5 {
        font-size: 22px;
        line-height: 32px;

        @media (width < 500px) {
            font-size: 20px;
        }
    }
    &.h6 {
        font-size: 18px;
        line-height: 20.7px;
    }
}

.typography {

    &.default {
        font-family: 'VAGRoundCyrillic';
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--color-dark-gray);

        @media (width < 500px) {
            font-size: 16px;
            line-height: 24px;
        }

        &.small {
            font-size: 20px;
            line-height: 24px;
        }

        &.extra-small {
            font-size: 16px;
            line-height: 28px;
        }
        
    }
    &.secondary {
        font-family: 'VAGRoundRegular';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-light-gray);

        @media (width < 500px) {
            font-size: 16px;
        }

        &.extra-small {
            font-size: 16px;
            line-height: 32px;
        }
    }
    & strong {
        color: var(--color-primary-purple);
        font-weight: 400;
    }
    &.white {
        color: white;
    }
}