:root {
    --bg-primary: rgba(244, 239, 255, 1);
    --bg-secondary: rgba(255, 255, 255, 1);
    --color-primary-purple: #6A10E7;
    --color-secondary-purple: #BCBFFD;
    --color-dark-gray: #6F6F6F;
    --color-light-gray: #72797F;
}