* {
    font-family: 'VAGRoundCyrillic';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.solid-logo {
    cursor: pointer;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 1168px;
    padding: 30px 40px;
    background-color: white;
    border-radius: 6px;
    gap: 54px;

    @media (width < 800px) {
        padding: 20px 20px;
    }

    @media (width < 1230px) {
        gap: 3vw;

        & button::after {
            display: none;
        }
    }

    & nav {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 46px;
        white-space: nowrap;

        & a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);

            &:hover {
                color: var(--color-primary-purple);
            }
            
        }

        @media (width < 1230px) {
            gap: 2vw;

            & button::after {
                display: none;
            }
        }

        @media (width < 970px) {
            & button {
                display: none;
            }
        }

        @media (width < 800px) {
            display: none;
        }
    }
}

.horizontal-bar {
    height: 1px;
    opacity: 30%;
    background-color: var(--color-primary-purple);
}

.bg-section {
    display: grid;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
.bg-section .content {
    max-width: 1230px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bg-section .content > div {
    margin-top: 40px;;
}   
.bg-section .title {
    position: relative;
    text-align: center;
    margin-bottom: 79px;
}
.bg-section .title .heading.h2  {
    position: inherit;
    z-index: 3;
}
.bg-section .title img {
    position: absolute;
    top: -55px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.section-1 {
    gap: 63px;
    padding-top: 64px;
    padding-bottom: 72px;
}

.section-1 .left-side {
    margin-top: 53px;
}

.section-1 .left-side h1 {
    margin-bottom: 15px;
}

.section-1 .left-side p {
    max-width: 500px;
    margin-bottom: 40px;
}

.section-1 .left-side button {
    width: 222px;
    height: 48px;
    margin-bottom: 45px;
}

.section-1 .socials {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 27px;
}

.section-1 .right-side {
    margin: 0;
    max-width: 584px
}

.section-1 .right-side img {
    width: 100%;
}

@media (width < 800px) {
    .section-1 {
        gap: 0;
        justify-content: initial;
        padding: 20px 20px 79px 20px;
    }
    .section-1 .content {
        grid-template-columns: 1fr;
    }
    .section-1 .right-side {
        display: none;
    }
}

.bg-section:nth-of-type(2) {
    padding-top: 170px;

    & .partners {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 73px 140px;
        margin-bottom: 160px;
        max-width: 900px;
        margin: 0 auto;
        padding-top: 70px;
    }
}

.bg-section:nth-of-type(3) {
    padding-top: 204px;
    padding-bottom: 31px;
    
    & .content {
        grid-template-columns: min-content 1fr;
        gap: 72px;

        & > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content min-content min-content;
            grid-template-areas: 
                "item1 item1"
                "grid-item-1 grid-item-2"
                "grid-item-3 grid-item-4";
            gap: 30px;

            & img {
                margin-bottom: 10px;
                width: 24px;
                height: 24px;
            }

            & button {
                width: 237px;
                height: 50px;
            }
        }

        & p.default {
            margin-top: 15px;
            margin-bottom: 30px;
        }
        & p.secondary {
            margin-top: 10px;
        }
    }
}

.bg-section:nth-of-type(4) {
    padding-top: 85px;
    padding-bottom: 120px;

    & .content {
        max-width: 1145px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & > div {
            margin-top: 40px;;
        }

        & .placeholder {
            margin: 17px 14px 32px;
        }

        & p.default {
            max-width: 370px;
        }
    }

    & .horizontal-bar {
        width: 80%;
        margin: 55px auto 93px;
    }

    & .infos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        max-width: 1145px;

        & div {
            text-align: center;

            & p {
                margin: 20px auto 0px;
                max-width: 255px;
            }
        }
    }
}

.bg-section:nth-of-type(5) {
    padding-top: 154px;
    padding-bottom: 213px;
    max-width: 1222px;
    margin: 0 auto;

    & .title {
        margin-bottom: 110px;
    }

    & .infos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    & .info {
        display: grid;
        grid-template-columns: min-content 1fr;
        padding: 30px 55px;
        gap: 20px;
        background-color: #F4EFFF;
        
        & img {
            padding: 13px;
            background-color: var(--color-primary-purple);
            border-radius: 6px;
        }

        & .heading {
            margin-top: 16px;
        }
    }
}

.bg-section:nth-of-type(6) {
    padding-top: 146px;
    padding-bottom: 43px;
    margin: 0 auto;
    

    & .title img {
        top: -80px;
    }

    & .content {
        gap: 28px;

        & .infos-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, min-content);
            gap: 9px;
            margin-top: 91px;
    
            & > div {
                display: grid;
                grid-template-columns: auto;
                background-color: white;
                max-height: 192px;
                padding: 40px 40px 20px;
                border-radius: 6px;
                gap: 25px;
    
                & .header {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    gap: 20px;
                    align-items: center;
    
                    & img {
                        width: 60px;
                        height: 60px;
                        padding: 13px;
                        border-radius: 6px;
                        background-color: var(--color-secondary-purple);
                    }
    
                }
            }
        }
    }

}

.bg-section:nth-of-type(7) {
    padding-top: 202px;
    padding-bottom: 107px;
    margin: 0 auto;
    text-align: center;

    & .title img {
        top: -70px;
    }

    & button {
        max-width: 222px;
        height: 50px;
        width: 100%;
    }

}

.bg-section:nth-of-type(8) {
    padding-top: 157px;
    padding-bottom: 171px;
    margin: 0 auto;
    

    & .title img {
        top: -70px;
    }

    & button {
        max-width: 222px;
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }

    & > div:nth-child(2) {
        width: 1142px;
    }

    & .horizontal-bar {
        width: 100%;
        margin: 0 auto;
        margin: 21px 0 41px;
    }

    & p,h5 {
        text-align: center;
    }

    & form {
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: auto auto ;
        grid-template-areas: 
        "message message message"
        "email name button";
        gap: 10px 30px;
        max-width: 850px;
        margin: 46px auto 0;

        & input {
            text-decoration: none;
            background-color: var(--color-secondary-purple);
        }

        & input, textarea {
            padding: 14px 20px;
            border: 2px solid var(--color-terciary-purple);
            border-radius: 6px;
            outline: none;
            color: var(--color-terciary-purple);

            &:hover {
                border-color: var(--color-terciary-purple);
            }

            &::placeholder {
                color: var(--color-terciary-purple);
            }
        }

        & .message {
            font-family: VAGRoundedNext;
            font-weight: 100;
            max-height: 146px;
        }
    }

}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    background-color: var(--color-primary-purple);
    height: 135px;

    & img {
        cursor: pointer;
    }

    & nav {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        display: grid;
        gap: 52px;

        & a {
            text-decoration: none;
            color: white !important;
            text-align: center;
            font-size: 14px;

            &:hover {
                opacity: 0.8;
            }
        }


    }
    & button {
        width: 186px;
        height: 50px;
    }
}